.library {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    column-gap: 10px;
    row-gap: 10px;
    margin: 20px;
}

.book-card {
    background-color: lightgray;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.btn-green {
    background-color: green;
    color: white;
}

.btn-red {
    background-color: red;
    color: black;
}

.show {
    visibility: visible;
}

.hide {
    visibility: hidden;
}